.card {
  position: relative;
  width: 21%;
  border: 1px solid #ccc;
  margin: 10px 5px;
  padding: 10px;
  box-shadow: 5px 5px 30px #0003;
  color: #fff;
  background-image: url("https://tr.web.img4.acsta.net/pictures/bzp/01/6272.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  height: 350px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.content {
  padding: 10px;
  background-color: #091921;
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
}

.star-icon {
  margin-right: 5px;
}
