.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: #fff;
}

.header input {
  width: 70%;
  margin: 10px auto;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(133, 133, 133, 0.8);
}

.section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie-not-found {
  color: #ffff;
  font-weight: 600;
  text-align: center;
}
